.App {
  display: grid;
  place-content: center;
}

.square {
height: 100%;
width: 100%;
font-size: 80pt;
padding: 0;
border: 2px solid #3d3d3d;


}

.board-row {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300pt;
  height: 100pt;
}